{% extends 'base.html' %}
{%  block content %}
<div class="container">
    <div class="row">
        <div class="col-4 mt-5 changepassword">
            <h3>Change Your password</h3>
            <!-- add your form here-->
            <form>
                <div class="form-group mb-3">
                    <label for="exampleInputPassword1">Current Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                
                <div class="form-group mb-3">
                    <label for="exampleInputPassword1">New Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                <div class="form-group mb-3">
                  <label for="exampleInputPassword1">New Password again</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
               
                <button type="submit" class="btn btn-primary">save</button>
             </form>
             <a href="#">If You dont Have an account Signup From here</a>
        </div>
      
    </div>
    
</div>
{% endblock %}