{% extends 'bse.html' %}
{%  block content  %}
<div class="container">
    <div class="row">
       
        <div class="col-4 mt-5 track">
          <h3>track order</h3>
            <!-- add your form here-->
            <form>
                <div class="form-group mb-3">
                    
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="enter order number">
                  </div>
                <button type="submit" class="btn btn-primary">Search</button>
             </form>
        </div>
      
    </div>
    
</div>
{% endblock %}